# Exploration — Éducation

Exploration des fichiers éducation :
- **Diplômes** : `base-cc-diplomes-formation-2022.CSV`
- **CSP × Diplômes** : `pop-act2554-csp-dipl-cd-6822.xlsx`

In [1]:
import pandas as pd
import os

DATA_DIR = os.path.join(os.path.dirname(os.getcwd()), '')  # dossier parent = education/
print(f"Dossier données : {DATA_DIR}")

Dossier données : /Users/cedricsanchez/Documents/MSPR/MSPR_1/data/input/education/

## 1. Diplômes (RP 2022)

In [2]:
dipl = pd.read_csv(os.path.join(DATA_DIR, 'base-cc-diplomes-formation-2022.CSV'), sep=';', low_memory=False)
print(f"Shape : {dipl.shape}")
print(f"Colonnes ({len(dipl.columns)}) :")
for c in dipl.columns[:20]:
    print(f"  - {c}")
if len(dipl.columns) > 20:
    print(f"  ... et {len(dipl.columns) - 20} autres")
dipl.head()

Shape : (34903, 190)
Colonnes (190) :
  - CODGEO
  - P22_POP0205
  - P22_POP0610
  - P22_POP1114
  - P22_POP1517
  - P22_POP1824
  - P22_POP2529
  - P22_POP30P
  - P22_SCOL0205
  - P22_SCOL0610
  - P22_SCOL1114
  - P22_SCOL1517
  - P22_SCOL1824
  - P22_SCOL2529
  - P22_SCOL30P
  - P22_H0205
  - P22_H0610
  - P22_H1114
  - P22_H1517
  - P22_H1824
  ... et 170 autres

,CODGEO,P22_POP0205,P22_POP0610,P22_POP1114,P22_POP1517,P22_POP1824,P22_POP2529,P22_POP30P,P22_SCOL0205,P22_SCOL0610,...,P11_HNSCOL15P_BACP2,P11_HNSCOL15P_SUP,P11_FNSCOL15P,P11_FNSCOL15P_DIPL0,P11_FNSCOL15P_CEP,P11_FNSCOL15P_BEPC,P11_FNSCOL15P_CAPBEP,P11_FNSCOL15P_BAC,P11_FNSCOL15P_BACP2,P11_FNSCOL15P_SUP
0,01001,34.000000,56.000000,45.000000,36.000000,30.000000,37.000000,594.000000,26.000000,53.000000,...,39.000000,27.000000,274.000000,32.000000,45.000000,19.000000,60.000000,48.000000,45.000000,25.000000
1,01002,14.000000,19.000000,20.000000,14.000000,11.000000,7.000000,184.000000,12.000000,17.000000,...,18.000000,16.000000,86.000000,10.000000,8.000000,6.000000,14.000000,10.000000,20.000000,18.000000
2,01004,833.778508,992.962424,773.079155,611.095185,1470.391014,1079.704329,9400.461185,572.334024,963.571670,...,641.613777,481.583017,5090.046517,920.778364,706.134195,372.534022,1050.568267,876.106101,635.825841,528.099728
3,01005,95.083339,127.068163,99.293530,62.372538,107.724534,120.723854,1263.534634,65.723892,120.111212,...,55.445545,49.504950,570.297030,86.138614,84.158416,49.504950,126.732673,96.039604,78.217822,49.504950
4,01006,4.000000,4.000000,0.000000,2.000000,6.000000,6.000000,90.000000,3.000000,2.000000,...,3.000000,4.000000,46.000000,8.000000,4.000000,8.000000,9.000000,11.000000,3.000000,3.000000

In [3]:
dipl.info()
print()
dipl.describe()

<class 'pandas.DataFrame'>
RangeIndex: 34903 entries, 0 to 34902
Columns: 190 entries, CODGEO to P11_FNSCOL15P_SUP
dtypes: float64(189), str(1)
memory usage: 50.8 MB

,P22_POP0205,P22_POP0610,P22_POP1114,P22_POP1517,P22_POP1824,P22_POP2529,P22_POP30P,P22_SCOL0205,P22_SCOL0610,P22_SCOL1114,...,P11_HNSCOL15P_BACP2,P11_HNSCOL15P_SUP,P11_FNSCOL15P,P11_FNSCOL15P_DIPL0,P11_FNSCOL15P_CEP,P11_FNSCOL15P_BEPC,P11_FNSCOL15P_CAPBEP,P11_FNSCOL15P_BAC,P11_FNSCOL15P_BACP2,P11_FNSCOL15P_SUP
count,34899.000000,34899.000000,34899.000000,34899.000000,34899.000000,34899.000000,3.489900e+04,34899.000000,34899.000000,34899.000000,...,34892.000000,34892.000000,34892.000000,34892.000000,34892.000000,34892.000000,34892.000000,34892.000000,34892.000000,34892.000000
mean,88.581462,120.858211,100.307018,75.683686,169.449150,118.661739,1.327560e+03,65.876936,117.772531,98.460471,...,71.714497,104.211969,745.692063,137.676644,88.026224,51.454852,141.847896,122.964772,102.855732,100.865943
std,595.433442,748.568633,610.701270,470.593562,1865.597093,1452.578408,9.430840e+03,435.296593,727.415830,598.008855,...,570.769059,2054.488531,5909.067977,951.262282,407.460741,349.695665,675.921305,930.076784,841.820380,2032.763577
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.029739,10.462042,9.054138,6.927272,8.653377,7.024220,1.417401e+02,5.185451,10.123901,9.000000,...,6.330416,4.441194,74.810977,11.000000,11.255814,5.000000,15.429483,12.000000,9.370939,5.000000
50%,18.674687,27.301547,23.292657,17.302721,22.359651,18.574325,3.200000e+02,14.000000,26.793763,23.000000,...,15.978407,11.760863,167.999911,26.000000,24.952239,11.453743,37.019470,28.079195,22.700024,12.360328
75%,50.000000,72.945099,61.352889,45.365523,62.044173,48.355048,8.118457e+02,38.000000,71.494945,60.449380,...,42.000000,33.018737,426.005998,68.000000,61.347757,29.089537,96.000000,71.212693,59.712833,33.850855
max,70879.651686,89699.054846,75648.720437,59518.780485,233889.987272,219977.988272,1.326038e+06,51733.532023,87230.754666,74253.667219,...,81043.024817,350597.341401,860735.763304,108597.676067,43383.749600,45012.847066,62893.089940,131276.264459,121261.979607,348310.156565

In [4]:
# Métadonnées
meta = pd.read_csv(os.path.join(DATA_DIR, 'meta_base-cc-diplomes-formation-2022.CSV'), sep=';', low_memory=False)
print(f"Shape métadonnées : {meta.shape}")
meta.head(20)

Shape métadonnées : (35092, 7)

,COD_VAR,LIB_VAR,LIB_VAR_LONG,COD_MOD,LIB_MOD,TYPE_VAR,LONG_VAR
0,P22_POP0205,Pop 2-5 ans en 2022 (princ),Nombre de personnes de 2 à 5 ans en 2022,NaN,NaN,NUM,17
1,P22_POP0610,Pop 6-10 ans en 2022 (princ),Nombre de personnes de 6 à 10 ans en 2022,NaN,NaN,NUM,17
2,P22_POP1114,Pop 11-14 ans en 2022 (princ),Nombre de personnes de 11 à 14 ans en 2022,NaN,NaN,NUM,17
3,P22_POP1517,Pop 15-17 ans en 2022 (princ),Nombre de personnes de 15 à 17 ans en 2022,NaN,NaN,NUM,17
4,P22_POP1824,Pop 18-24 ans en 2022 (princ),Nombre de personnes de 18 à 24 ans en 2022,NaN,NaN,NUM,17
5,P22_POP2529,Pop 25-29 ans en 2022 (princ),Nombre de personnes de 25 à 29 ans en 2022,NaN,NaN,NUM,17
6,P22_POP30P,Pop 30 ans ou plus en 2022 (princ),Nombre de personnes de 30 ans ou plus en 2022,NaN,NaN,NUM,16
7,P22_SCOL0205,Pop scolarisée 2-5 ans en 2022 (princ),Nombre de personnes scolarisées de 2 à 5 ans e...,NaN,NaN,NUM,17
8,P22_SCOL0610,Pop scolarisée 6-10 ans en 2022 (princ),Nombre de personnes scolarisées de 6 à 10 ans ...,NaN,NaN,NUM,17
9,P22_SCOL1114,Pop scolarisée 11-14 ans en 2022 (princ),Nombre de personnes scolarisées de 11 à 14 ans...,NaN,NaN,NUM,17
10,P22_SCOL1517,Pop scolarisée 15-17 ans en 2022 (princ),Nombre de personnes scolarisées de 15 à 17 ans...,NaN,NaN,NUM,17
11,P22_SCOL1824,Pop scolarisée 18-24 ans en 2022 (princ),Nombre de personnes scolarisées de 18 à 24 ans...,NaN,NaN,NUM,17
12,P22_SCOL2529,Pop scolarisée 25-29 ans en 2022 (princ),Nombre de personnes scolarisées de 25 à 29 ans...,NaN,NaN,NUM,17
13,P22_SCOL30P,Pop scolarisée 30 ans ou plus en 2022 (princ),Nombre de personnes scolarisées de 30 ans ou p...,NaN,NaN,NUM,17
14,P22_H0205,Hommes 2-5 ans en 2022 (princ),Nombre d'hommes de 2 à 5 ans en 2022,NaN,NaN,NUM,17
15,P22_H0610,Hommes 6-10 ans en 2022 (princ),Nombre d'hommes de 6 à 10 ans en 2022,NaN,NaN,NUM,17
16,P22_H1114,Hommes 11-14 ans en 2022 (princ),Nombre d'hommes de 11 à 14 ans en 2022,NaN,NaN,NUM,17
17,P22_H1517,Hommes 15-17 ans en 2022 (princ),Nombre d'hommes de 15 à 17 ans en 2022,NaN,NaN,NUM,17
18,P22_H1824,Hommes 18-24 ans en 2022 (princ),Nombre d'hommes de 18 à 24 ans en 2022,NaN,NaN,NUM,17
19,P22_H2529,Hommes 25-29 ans en 2022 (princ),Nombre d'hommes de 25 à 29 ans en 2022,NaN,NaN,NUM,17

In [5]:
# Fichier communes (COM)
com = pd.read_csv(os.path.join(DATA_DIR, 'base-cc-diplomes-formation-2022-COM.CSV'), sep=';', low_memory=False)
print(f"Shape COM : {com.shape}")
com.head()

Shape COM : (4, 67)

,CODGEO,P22_POP0205,P22_POP0610,P22_POP1114,P22_POP1517,P22_POP1824,P22_POP2529,P22_POP30P,P22_SCOL0205,P22_SCOL0610,...,P22_HNSCOL15P_SUP34,P22_HNSCOL15P_SUP5,P22_FNSCOL15P,P22_FNSCOL15P_DIPLMIN,P22_FNSCOL15P_BEPC,P22_FNSCOL15P_CAPBEP,P22_FNSCOL15P_BAC,P22_FNSCOL15P_SUP2,P22_FNSCOL15P_SUP34,P22_FNSCOL15P_SUP5
0,97501,21.000000,38.000000,26.000000,14.000000,24.000000,28.000000,432.000000,17.000000,37.000000,...,5.000000,7.000000,237.000000,79.000000,21.000000,69.000000,35.000000,8.000000,13.000000,12.000000
1,97502,146.000000,311.000000,286.000000,209.000000,204.000000,260.000000,3728.000000,122.000000,305.000000,...,172.000000,160.000000,2128.000000,477.000000,148.000000,522.000000,413.000000,182.000000,237.000000,149.000000
2,97701,361.399043,472.498698,357.827789,214.940088,885.817031,1011.854908,7073.586263,253.013056,459.402364,...,388.700840,388.997228,4053.956430,744.834638,226.223293,533.194851,881.626362,627.857567,528.784891,511.434828
3,97801,1690.764534,2528.476343,2149.148946,1546.991439,2151.663252,1746.143234,18860.318283,1267.757858,2309.175927,...,430.891358,424.392227,11928.639962,4118.708893,999.545041,2243.045361,2123.192090,1022.711999,851.496637,569.939942

## 2. CSP × Diplômes

In [6]:
csp_dipl = pd.read_excel(os.path.join(DATA_DIR, 'pop-act2554-csp-dipl-cd-6822.xlsx'))
print(f"Shape : {csp_dipl.shape}")
print(f"Colonnes ({len(csp_dipl.columns)}) :")
for c in csp_dipl.columns[:20]:
    print(f"  - {c}")
if len(csp_dipl.columns) > 20:
    print(f"  ... et {len(csp_dipl.columns) - 20} autres")
csp_dipl.head()

Shape : (0, 1)
Colonnes (1) :
  - Catégories Socioprofessionnelles/Diplômes - Données harmonisées RP1968-2022

Empty DataFrame
Columns: [Catégories Socioprofessionnelles/Diplômes - Données harmonisées RP1968-2022]
Index: []

## 3. Qualité des données

In [7]:
for nom, df in [('Diplômes', dipl), ('CSP×Diplômes', csp_dipl)]:
    nulls = df.isnull().sum()
    total = nulls.sum()
    print(f"{nom} — {total} valeurs manquantes sur {df.shape[0] * df.shape[1]}")
    if total > 0:
        for col, n in nulls[nulls > 0].head(10).items():
            print(f"  {col}: {n} ({100*n/len(df):.1f}%)")

Diplômes — 1446 valeurs manquantes sur 6631570
  P22_POP0205: 4 (0.0%)
  P22_POP0610: 4 (0.0%)
  P22_POP1114: 4 (0.0%)
  P22_POP1517: 4 (0.0%)
  P22_POP1824: 4 (0.0%)
  P22_POP2529: 4 (0.0%)
  P22_POP30P: 4 (0.0%)
  P22_SCOL0205: 4 (0.0%)
  P22_SCOL0610: 4 (0.0%)
  P22_SCOL1114: 4 (0.0%)
CSP×Diplômes — 0 valeurs manquantes sur 0